[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Connect Headset
Comment=Description
Icon=/home/ragan/.local/share/applications/headset-icon.jpg
Exec=/home/ragan/.local/bin/connectHeadset
Terminal=false
Categories=Ragan,Settings
